__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/

*.log
temp/
tmp/
*.tmp

result.json
result.txt
nitro.txt
*.json
*.txt

.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

api.py
.env
config.json
keys.json

profile/
webdriver/
ransom_ware.py